<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="csrf-token" content="<%= _csrf %>">
    <title>Nippo:Re</title>

    <script src="//cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/blue/pace-theme-loading-bar.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.9.0/github-markdown.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css">
    <link rel="stylesheet" href="//cdn.plusminus.io/css/webkoruri/20140628/webkoruri-force.css">
  </head>

  <body>
    <%- body %>

    <!--<script src="/js/dependencies/sails.io.js" defer="defer"></script>-->
    <% if (sails.config.environment === 'development') { %>
    <script src="//<%=req.host%>:<%=sails.config.webpack.server.port%>/bundle.js"></script>
    <% } else { %>
    <script src="/js/bundle.js?v=<%=global.currentGitCommitHash%>" defer="defer"></script>
    <% } %>
  </body>
</html>
